<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body>
		<%- include('./partials/nav') %>
		<div class="pokedex-card-container">
			<% for(var i=0; i<pokemon.length;i++) { %>
				<div class="dex-pokemon-card card">
					<div class="pokemon-card-pokemon">
						<div class="pokemon-card-id">
							<p class="pokemon-name"><%= pokemon[i].information.name %></p>
							<p class="pokemon-dex-number"><%= pokemon[i].information.dexNumber %></p>
						</div>
						<div class="pokemon-card-image">
							<img class="poke-image" src="/images/<%= pokemon[i].information.name %>.png" alt="poke-image">
						</div>
					</div>
					<div class="pokemon-card-description">
						<p><%= pokemon[i].information.primaryType %></p>
						<p><%= pokemon[i].information.description %></p>
					</div>
				</div>
				<% } %>
		</div>
		<script>
			let num = document.getElementsByClassName("pokemon-dex-number")
			function threeDigits() {
				console.log(num[0].innerHTML)
				console.log(num.length)
				console.log(typeof num[0].innerHTML)

				for (var i = 0; i < 9; i++){

					let numParsed = parseFloat(num[i].innerHTML);

					console.log(numParsed)
					console.log(typeof numParsed)

						num[i].innerHTML = '00' + numParsed
					}
					

				for (var i = 9; i < 99; i++){

					let numParsed = parseFloat(num[i].innerHTML);

					console.log(numParsed)
					console.log(typeof numParsed)

					num[i].innerHTML = '0' + numParsed
				}
			}
			threeDigits();
		</script>
	</body>
</html>
