<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body>
		<%- include('./partials/nav') %>
		<div><p>Hello World!</p></div>
		<div>
			<p>pokedex.ejs</p>
		</div>
		<div class="pokedex-card-container">

			<% for(var i=0; i<pokemon.length;i++) { %>
				<div class="dex-pokemon-card card">
					<div class="pokemon-card-id">
						<p><%= pokemon[i].information.name %></p>
						<p><%= pokemon[i].information.dexNumber %></p>
					</div>
					<div class="pokemon-card-description">
						<p><%= pokemon[i].information.primaryType %></p>
						<p><%= pokemon[i].information.description %></p>
					</div>
				</div>
				<% } %>
			</div>
	</body>
</html>
