<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body>
		<%- include('./partials/nav') %>
		<div class="pokedex-card-container">
			<% for(var i=0; i<pokemon.length;i++) { %>
				<div class="dex-pokemon-card card">
					<div class="pokemon-card-pokemon">
						<div class="pokemon-card-id">
							<p class="pokemon-name"><%= pokemon[i].information.name %></p>
							<p class="pokemon-dex-number"><%= pokemon[i].information.dexNumber %></p>
						</div>
						<div class="pokemon-card-image">
							<img class="poke-image" src="/images/<%= pokemon[i].information.name %>.png" alt="poke-image">
						</div>
					</div>
					<div class="pokemon-card-description">
						<p><%= pokemon[i].information.primaryType %></p>
						<p><%= pokemon[i].information.description %></p>
					</div>
				</div>
				<% } %>
		</div>
		<script>
			// Store pokemon-dex-number in num variable
			let num = document.getElementsByClassName("pokemon-dex-number")

			
			// Ensures Pokemon Dex Number will be 3 digits long
			function threeDigits() {
				
				// Loop for numbers below 10
				for (var i = 0; i < 9; i++){
					// Parse the content of num into Number
					let numParsed = parseFloat(num[i].innerHTML);
					// Set content of Num to corrected value
					num[i].innerHTML = '00' + numParsed
				}

				// Loop for numbers above 9 and less than 99
				for (var i = 9; i < 99; i++){
					// Parse the content of num into Number
					let numParsed = parseFloat(num[i].innerHTML);
					// Set content of Num to corrected value
					num[i].innerHTML = '0' + numParsed
				}
			}

			// Invoke function to make corrections
			threeDigits();
		</script>
	</body>
</html>
