<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body>
		<%- include('./partials/nav') %>
		<div class="pokedex-card-container">
			<% for(var i=0; i<pokemon.length;i++) { %>
				<div class="dex-pokemon-card card">
					<div class="pokemon-card-pokemon">
						<div class="pokemon-card-id">
							<p class="pokemon-name"><%= pokemon[i].information.name %></p>
							<p><%= pokemon[i].information.dexNumber %></p>
						</div>
						<div class="pokemon-card-image">
							<img class="poke-image" src="/images/<%= pokemon[i].information.name %>.png" alt="poke-image">
						</div>
					</div>
					<div class="pokemon-card-description">
						<p><%= pokemon[i].information.primaryType %></p>
						<p><%= pokemon[i].information.description %></p>
					</div>
				</div>
				<% } %>
		</div>
	</body>
</html>
